@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand
    {
        padding: 4%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }
}

@media  only screen and (max-width: 792px) {
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }
    
}